@media (min-width: 640px) {
    .barchart-container, .sachart-container {
        width: 100%;
    }
}

@media (min-width: 1100px) {
    .barchart-container, .sachart-container {
        width: 50%;
    }
}

.barchart-container {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
}
.barchart g {
    cursor: pointer;
}
.barchart g:hover .bar {
    opacity: .8;
}
.barchart .label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.barchart .label_underlay {
    fill: rgba(255, 255, 255, .7);
}


.sachart-container {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
}
.sachart-container .legend {
    display: block;
    margin: 0;
    padding: 0;
}
.color-dot {
    display: block;
    float: left;
    content: '';
    width: 16px;
    height: 16px;
    margin: 1px 5px 0 0;
    border-radius: 8px;
}
.sachart-container .legend li {
    display: inline-block;
    margin: 10px 15px 0 0;
}

.selector {
    width: 100%;
    height: 22px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
}
.selector .title {
    width: auto;
    float: left;
    font-weight: 400;
    margin-right: 8px;
}
.selector .items {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.selector li {
    display: inline-block;
    font-weight: 300;
    color: #aaa;
    cursor: pointer;
    margin-right: 8px;
}
.selector li.active {
    font-weight: 400;
    color: #222;
    cursor: default;
    border-bottom: #222 1px solid;
}

.whatsgoingon {
    color: #444;
    margin-bottom: 20px;
    line-height: 24px;
}

.whatsgoingon em {
    display: inline-block;
    line-height: 16px;
    color: #000;
    font-style: normal;
    margin: 3px 0 0;
    padding: 3px 6px;
    background-color: #eaeaea;
    border-radius: 2px;
}
