@media (min-width: 640px) {
    .barchart-container, .sachart-container {
        width: 100%;
    }
}

@media (min-width: 1100px) {
    .barchart-container, .sachart-container {
        width: 50%;
    }
}

.barchart-container {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
}
.barchart g {
    cursor: pointer;
}
.barchart g:hover .bar {
    opacity: .8;
}
.barchart .label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.barchart .label_underlay {
    fill: rgba(255, 255, 255, .7);
}


.sachart-container {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
}
.sachart-container .dot {
    display: none;
}
.sachart-container .dot text {
    font-size: 10px;
}
.sachart-container .legend {
    display: block;
    margin: 0;
    padding: 0;
}
.color-dot {
    display: block;
    float: left;
    content: '';
    width: 16px;
    height: 16px;
    margin: 1px 5px 0 0;
    border-radius: 8px;
}
.sachart-container .legend li {
    display: inline-block;
    padding: 10px 15px 0 0;
    cursor: default;
}

.sachart-container.focused .path {
    opacity: 0.03;
}

.sachart-container.focused .label {
    opacity: 0.3;
}

.sachart-container.item-0 .path-0, .sachart-container.item-0 .label-0 { opacity: 1; }
.sachart-container.item-1 .path-1, .sachart-container.item-1 .label-1 { opacity: 1; }
.sachart-container.item-2 .path-2, .sachart-container.item-2 .label-2 { opacity: 1; }
.sachart-container.item-3 .path-3, .sachart-container.item-3 .label-3 { opacity: 1; }
.sachart-container.item-4 .path-4, .sachart-container.item-4 .label-4 { opacity: 1; }
.sachart-container.item-5 .path-5, .sachart-container.item-5 .label-5 { opacity: 1; }
.sachart-container.item-6 .path-6, .sachart-container.item-6 .label-6 { opacity: 1; }
.sachart-container.item-7 .path-7, .sachart-container.item-7 .label-7 { opacity: 1; }
.sachart-container.item-8 .path-8, .sachart-container.item-8 .label-8 { opacity: 1; }
.sachart-container.item-9 .path-9, .sachart-container.item-9 .label-9 { opacity: 1; }
.sachart-container.item-0 .dot-0 { display: inline; }
.sachart-container.item-1 .dot-1 { display: inline; }
.sachart-container.item-2 .dot-2 { display: inline; }
.sachart-container.item-3 .dot-3 { display: inline; }
.sachart-container.item-4 .dot-4 { display: inline; }
.sachart-container.item-5 .dot-5 { display: inline; }
.sachart-container.item-6 .dot-6 { display: inline; }
.sachart-container.item-7 .dot-7 { display: inline; }
.sachart-container.item-8 .dot-8 { display: inline; }
.sachart-container.item-9 .dot-9 { display: inline; }


.selector {
    width: 100%;
    height: 22px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
}
.selector .title {
    width: auto;
    float: left;
    font-weight: 400;
    margin-right: 8px;
}
.selector .items {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.selector li {
    display: inline-block;
    font-weight: 300;
    color: #aaa;
    cursor: pointer;
    margin-right: 8px;
}
.selector li.active {
    font-weight: 400;
    color: #222;
    cursor: default;
    border-bottom: #222 1px solid;
}

.whatsgoingon {
    color: #444;
    margin-bottom: 20px;
    line-height: 24px;
}

.whatsgoingon em {
    display: inline-block;
    line-height: 16px;
    color: #000;
    font-style: normal;
    margin: 3px 0 0;
    padding: 3px 6px;
    background-color: #f0f0f0;
    border-radius: 2px;
}



.week-selector em {
    background-color: #d0f0f0;
}
.week-selector em:before {
    content: '';
    display: inline-block;
    margin: 0 3px -1px 0;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    /* Source: https://github.com/github/octicons/blob/master/svg/calendar.svg */
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSIxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik03MDQgNTEyaC02NHYxMjhoNjRWNTEyek01NzYgNTEyaC02NHYxMjhoNjRWNTEyek03MDQgMzIwaC02NHYxMjhoNjRWMzIwek04MzIgNTEyaC02NHYxMjhoNjRWNTEyek01NzYgNzA0aC02NHYxMjhoNjRWNzA0ek03NjggMGgtNjR2MTI4aDY0VjB6TTI1NiAwaC02NHYxMjhoNjRWMHpNODMyIDMyMGgtNjR2MTI4aDY0VjMyMHpNNTc2IDMyMGgtNjR2MTI4aDY0VjMyMHpNMzIwIDcwNGgtNjR2MTI4aDY0VjcwNHpNMTkyIDUxMmgtNjR2MTI4aDY0VjUxMnpNMzIwIDUxMmgtNjR2MTI4aDY0VjUxMnpNODMyIDY0djEyOEg2NDBWNjRIMzIwdjEyOEgxMjhWNjRIMHY4OTZoOTYwVjY0SDgzMnpNODk2IDg5Nkg2NFYyNTZoODMyVjg5NnpNMTkyIDcwNGgtNjR2MTI4aDY0VjcwNHpNNDQ4IDMyMGgtNjR2MTI4aDY0VjMyMHpNNDQ4IDcwNGgtNjR2MTI4aDY0VjcwNHpNMzIwIDMyMGgtNjR2MTI4aDY0VjMyMHpNNDQ4IDUxMmgtNjR2MTI4aDY0VjUxMnpNNzA0IDcwNGgtNjR2MTI4aDY0VjcwNHoiIC8+Cjwvc3ZnPg==");
}

.week-selector {
    display: inline-block;
}

.week-selector .selector {
    position: relative;
    display: inline-block;
    padding: 0 6px;
    width: 110px;
}

.week-selector .selector em {
    width: 100%;
}
.week-selector .selector select {
    position: absolute;
    top: 5px;
    left: 5%;
    width: 90%;
    margin: 0;
    display: none;
}

.week-selector .selector:hover em {
    visibility: hidden;
}
.week-selector .selector:hover select {
    display: inline;
}
