.barchart-container {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 20px 20px 0;
}
.barchart g {
    cursor: pointer;
}
.barchart g:hover .bar {
    opacity: .8;
}
.barchart .label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.barchart .label_underlay {
    fill: rgba(255, 255, 255, .7);
}


.sachart-container {
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 0 20px 20px 0;
}
.sachart-container .legend {
    display: block;
    margin: 0;
    padding: 0;
}
.color-dot {
    display: block;
    float: left;
    content: '';
    width: 16px;
    height: 16px;
    margin: 1px 5px 0 0;
    border-radius: 8px;
}
.sachart-container .legend li {
    display: inline-block;
    margin: 10px 15px 0 0;
}

.filters {
    width: 100%;
}
.filters .item {
    margin: 0;
    padding: 0;
    float: left;
}
.filters .item li {
    margin-right: 10px;
}
.filters .sort li {
    margin-left: 10px;
}
.filters .sort {
    margin: 0;
    padding: 0;
    float: right;
}
.filters li {
    display: inline-block;
    font-size: 18px;
    line-height: 32px;
    font-weight: 300;
    color: #aaa;
    cursor: pointer;
    text-decoration: underline;
}
.filters li.active {
    font-weight: 400;
    color: #222;
    cursor: default;
    text-decoration: none;
}

.whatsgoingon {
    color: #444;
    margin-bottom: 20px;
    line-height: 24px;
}

.whatsgoingon em {
    display: inline-block;
    line-height: 16px;
    color: #000;
    font-style: normal;
    margin: 3px 0 0;
    padding: 3px 6px;
    background-color: #eaeaea;
    border-radius: 4px;
}
