// JSX cache
.module-cache

// Bower
bower_components

// Config files
/config.json
/config/*/*

// Workspace documents and notes
*.txt

// Compiled app (reconsider later)
app/scripts/app.js
app/scripts/charts.js
