* {
    box-sizing: border-box;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

.app {
    width: 100%;
}

.content {
    float: left;
    width: calc(100% - 190px);
    margin-top: 20px;
}
.content .left, .content .right {
    float: left;
    width: 50%;
}

.info-block {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.info-block .img {
    float: left;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    margin-right: 10px;
    border-radius: 2px;
}
.info-block .img.repo {
    background-size: 30px 40px;
    /* Source: https://github.com/github/octicons/blob/master/svg/repo.svg */
    background-image: url(data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSI3NjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTMyMCAyNTZoLTY0djY0aDY0di02NHogbTAtMTI4aC02NHY2NGg2NHYtNjR6IG0zODQtMTI4Yy0zMiAwLTYwOCAwLTY0MCAwcy02NCAzMi02NCA2NCAwIDczNiAwIDc2OCAzMiA2NCA2NCA2NCAxMjggMCAxMjggMHYxMjhsOTYtOTYgOTYgOTZ2LTEyOHMyODggMCAzMjAgMCA2NC0zMiA2NC02NCAwLTczNiAwLTc2OC0zMi02NC02NC02NHogbTAgODAwYzAgMTYtMTUgMzItMzIgMzJzLTI4OCAwLTI4OCAwdi02NGgtMTkydjY0cy03OSAwLTk2IDAtMzItMTctMzItMzIgMC05NiAwLTk2aDY0MHMwIDgwIDAgOTZ6IG0wLTE2MGgtNTEydi01NzZoNTEzbC0xIDU3NnogbS0zODQtMTI4aC02NHY2NGg2NHYtNjR6IG0wLTEyOGgtNjR2NjRoNjR2LTY0eiIgLz4KPC9zdmc+);
}
.info-block .img.team {
    display: none;
}

.info-block h1 {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    font-weight: 400;
}
