.barchart-container {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
}
.barchart g {
    cursor: pointer;
}
.barchart g:hover .bar {
    opacity: .8;
}
.barchart .label_underlay {
    fill: rgba(255, 255, 255, .7);
}


.sac {
    box-sizing: border-box;
    float: left;
    padding: 0 20px 20px 0;
}
.sac .dot {
    display: none;
}
.sac .dot text {
    font-size: 10px;
}
.sac .legend {
    display: block;
    margin: 0;
    padding: 0;
    min-height: 90px;
}
.color-dot {
    display: block;
    float: left;
    content: '';
    width: 16px;
    height: 16px;
    margin: 2px 5px 0 0;
    border-radius: 8px;
}
.sac .legend li {
    display: inline-block;
    padding: 10px 15px 0 0;
    cursor: pointer;
}

.sac.focused .path {
    fill: #f0f0f0;
}

.sac.focused .label {
    opacity: 0.3;
}

.sac.item-0 .path-0 { fill: #EA8369; }
.sac.item-1 .path-1 { fill: #FCCD67; }
.sac.item-2 .path-2 { fill: #B5A9F2; }
.sac.item-3 .path-3 { fill: #9DD7F2; }
.sac.item-4 .path-4 { fill: #FFA3A4; }
.sac.item-5 .path-5 { fill: #A8EAA8; }
.sac.item-6 .path-6 { fill: #F9D08B; }
.sac.item-7 .path-7 { fill: #6CCECB; }
.sac.item-8 .path-8 { fill: #F9E559; }
.sac.item-9 .path-9 { fill: #FFBAD2; }
.sac.item-0 .dot-0 { display: inline; }
.sac.item-1 .dot-1 { display: inline; }
.sac.item-2 .dot-2 { display: inline; }
.sac.item-3 .dot-3 { display: inline; }
.sac.item-4 .dot-4 { display: inline; }
.sac.item-5 .dot-5 { display: inline; }
.sac.item-6 .dot-6 { display: inline; }
.sac.item-7 .dot-7 { display: inline; }
.sac.item-8 .dot-8 { display: inline; }
.sac.item-9 .dot-9 { display: inline; }
.sac.item-0 .label-0 { opacity: 1; }
.sac.item-1 .label-1 { opacity: 1; }
.sac.item-2 .label-2 { opacity: 1; }
.sac.item-3 .label-3 { opacity: 1; }
.sac.item-4 .label-4 { opacity: 1; }
.sac.item-5 .label-5 { opacity: 1; }
.sac.item-6 .label-6 { opacity: 1; }
.sac.item-7 .label-7 { opacity: 1; }
.sac.item-8 .label-8 { opacity: 1; }
.sac.item-9 .label-9 { opacity: 1; }


.selector {
    width: 100%;
    height: 22px;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
}
.selector .title {
    width: auto;
    float: left;
    font-weight: 400;
    margin-right: 8px;
}
.selector .items {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}
.selector li {
    display: inline-block;
    color: #aaa;
    cursor: pointer;
    margin-right: 8px;
}
.selector li.active {
    color: #000;
    cursor: default;
    border-bottom: #000 1px solid;
}

.whatsgoingon {
    color: #444;
    margin-bottom: 10px;
    line-height: 24px;
    min-height: 72px; /* 3*line-height */
}
.whatsgoingon span {
    line-height: 24px;
}

.whatsgoingon em {
    line-height: 16px;
    color: #000;
    font-style: normal;
    margin: 4px 0;
    padding: 0px 3px;
    background-color: #f0f0f0;
    border-radius: 2px;
}



.week-selector em {
    background-color: #d0f0f0;
}
.week-selector em:before {
    content: '';
    display: inline-block;
    margin: 0 3px -1px 0;
    width: 14px;
    height: 14px;
    background-size: 14px 14px;
    /* Source: https://github.com/github/octicons/blob/master/svg/calendar.svg */
    background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjEwMjQiIHdpZHRoPSIxMDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik03MDQgNTEyaC02NHYxMjhoNjRWNTEyek01NzYgNTEyaC02NHYxMjhoNjRWNTEyek03MDQgMzIwaC02NHYxMjhoNjRWMzIwek04MzIgNTEyaC02NHYxMjhoNjRWNTEyek01NzYgNzA0aC02NHYxMjhoNjRWNzA0ek03NjggMGgtNjR2MTI4aDY0VjB6TTI1NiAwaC02NHYxMjhoNjRWMHpNODMyIDMyMGgtNjR2MTI4aDY0VjMyMHpNNTc2IDMyMGgtNjR2MTI4aDY0VjMyMHpNMzIwIDcwNGgtNjR2MTI4aDY0VjcwNHpNMTkyIDUxMmgtNjR2MTI4aDY0VjUxMnpNMzIwIDUxMmgtNjR2MTI4aDY0VjUxMnpNODMyIDY0djEyOEg2NDBWNjRIMzIwdjEyOEgxMjhWNjRIMHY4OTZoOTYwVjY0SDgzMnpNODk2IDg5Nkg2NFYyNTZoODMyVjg5NnpNMTkyIDcwNGgtNjR2MTI4aDY0VjcwNHpNNDQ4IDMyMGgtNjR2MTI4aDY0VjMyMHpNNDQ4IDcwNGgtNjR2MTI4aDY0VjcwNHpNMzIwIDMyMGgtNjR2MTI4aDY0VjMyMHpNNDQ4IDUxMmgtNjR2MTI4aDY0VjUxMnpNNzA0IDcwNGgtNjR2MTI4aDY0VjcwNHoiIC8+Cjwvc3ZnPg==");
}

.week-selector {
    display: inline-block;
}

.week-selector .selector {
    position: relative;
    display: inline-block;
    padding: 0 6px;
    width: 110px;
}

.week-selector .selector em {
    display: inline-block;
    padding: 3px;
    width: 100%;
}
.week-selector .selector select {
    position: absolute;
    top: 4px;
    left: 5%;
    width: 90%;
    margin: 0;
    display: none;
}

.week-selector .selector:hover em {
    visibility: hidden;
}
.week-selector .selector:hover select {
    display: inline;
}

/* NEW */

.axis {
    stroke: #888;
    stroke-width: 1px;
}
.axis-mark {
    font-size: 10px;
    fill: #888;
}

.sac .dot circle {
    fill: #fff;
    stroke: #f0f0f0;
    stroke-width: 2px;
}
.sac .dot text {
    text-anchor: middle;
}
hr {
    margin: 20px 20px 30px 0;
    height: 1px;
    color: #aaa;
    background-color: #ccc;
    border: 0 none;
    clear: both;
}

@media (min-width: 640px) {
    .barchart-container, .sac {
        width: 100%;
    }
    .sac .legend {
        min-height: 0;
    }
}

@media (min-width: 1100px) {
    .barchart-container {
        width: 45%;
    }
    .sac {
        width: 55%;
    }
    hr {
        display: none;
    }
}
