.logo-button {
    display: inline-block;
    width: auto;
    border-radius: 5px;
}

/* Single letter */
.logo {
    display: inline-block;
    float: left;
    font-family: Courier, monospace;
    font-size: 22px;
    padding: 4px 3px 6px 3px;
    color: #fff;
    font-weight: 600;
}

/* Colors */
.logo.e {
    background-color: #fccd67;
}
.logo.m, .logo.p {
    background-color: #f39d41;
}
.logo.a, .logo.c, .logo.t {
    background-color: #ef7126;
}

/* Letters */
.logo.e {
    width: 30px;
    padding-left: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.logo.m {
    width: 17px;
    margin-left: -5px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.logo.p {
    width: 18px;
}
.logo.a {
    width: 15px;
    padding-left: 2px;
}
.logo.c {
    width: 16px;
}
.logo.t {
    width: 26px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
