.menu {
    float: left;
    width: 150px;
    margin: 20px;
}
    .menu ul {
        margin: 0;
        padding: 0;
    }
    .menu li {
        display: block;
        cursor: pointer;
    }

.menu .nav {
    margin-bottom: 5px;
}
    .menu .empact {
        height: 40px;
        padding: 5px 0;
        margin-bottom: 20px;
    }
    .menu .nav.header {
        color: #444;
        font-weight: 600;
        cursor: default;
        margin-top: 20px;
        margin-bottom: 10px;
        line-height: 24px;
    }
    .menu .nav a {
        display: inline-block;
        line-height: 21px;
        width: 100%;
        color: #aaa;
        text-decoration: none;
        width: auto;
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .menu .nav a.active {
        color: #000;
    }
