section {
    float: left;
}

.app {
    width: 100%;
}

.menu {
    width: 13em;
}
.menu ul {
    margin: 0;
    padding: 0;
}
li.nav {
    display: block;
    line-height: 2.5em;
    padding: 0 1em;
    cursor: pointer;
}
.nav.empact {
    font-weight: 600;
}
.nav.header {
    color: #aaa;
    cursor: default;
}

.content {
    width: calc(100% - 13em);
}
.content .left, .content .right {
    float: left;
    width: 50%;
}
