{{define "app"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Empact</title>
    <link rel="stylesheet" href="/app/hello.css">
</head>
<body>

<h1>Please Sign in with your GitHub account</h1>
<a href="/auth/signin">
    <img src="/app/github_mark_120.png">
</a>

<script src="/app/hello.js"></script>

</body>
</html>
{{end}}
